body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #ff0000;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}

.container {
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    border-bottom: 2px solid #ff0000;
    padding-bottom: 10px;
}

.projects, .contact {
    display: flex;
    flex-wrap: wrap;
}

.project, .contact-item {
    background-color: #222;
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}